<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a [routerLink]="['']"><h1>TP5</h1></a>
            <div>
                <a mat-button [routerLink]="['/client','add']"> Ajout client </a>
                <a mat-button [routerLink]="['/client']"> Liste client </a>
                <a mat-button [routerLink]="['/product','shopping']"> Catalogue </a>
            </div>
            <a class="leftItems" [routerLink]="['/product']">
                <mat-icon matBadge="{{numberProduct$ | async}}" matBadgeColor="warn" class="material-symbols-outlined">shopping_bag</mat-icon>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</header>